.popup-container {
    user-select: none;
}

#popup-container>table:first-child {
    display: block;
}


#popup-container>table:not(:first-child) {
    display: none;
}

#pagin-container {
    float: right;
}

.popup-content {
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 80%;
    padding: 0.5em;
    width: 400px;
}

@media screen and (max-width: 400px) {
    table.popup-content {
        width: 100%;
    }
}


.popup-content th.header {
    text-align: center;
}

.popup-content th.header::before,
.popup-content th.header::after {
    content: "â€”";
    margin: 0 0.5em;
    opacity: 0.6;
}

.popup-content hr {
    border-color: white;
    opacity: 0.2;
}

.popup-content td i {
    font-weight: 100;
}

.popup-content tr {
    font-family: "Alegreya Sans", "Open Sans", "M+ 1c", sans-serif;
}

.popup-content th {
    text-align: right;
}

.popup-content td,
.popup-content th {
    padding: .2em .4em;
}

.popup-content .slogan {
    text-align: center;
    letter-spacing: .2em;
    color: #888;
    padding-bottom: 0;
}

.popup-content .slogan::before,
.popup-content .slogan::after {
    content: "Â·";
    margin: 0 0.3em;
    opacity: 0.6;
}

.popup-content>tr>td>i>img {
    margin-left: 10px;
    margin-top: 5px;
}

.popup-content>tr>td>i {
    margin-left: 10px;
}

@media screen and (max-width: 400px) {
    .popup-content>tr>th {
        display: none;
    }
}

.word {
    --class: var(--hue);
}

.ctd {
    float: right;
}

.ca {
    color: #fff;
}
