/* the timing in ms must match timeout value in CharacterCreation.jsx */

.slide-enter-active,
.slide-exit-active {
    opacity: 1;
    transform: translateX(0%) translateZ(0);
    transition: opacity 200ms ease-out, transform 200ms ease-out; 
}

.slide-enter {
    opacity: 0;
    transform: translateX(100%);
}

.slide-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 200ms ease-out, transform 200ms ease-out; 
}

.slide-exit {
    opacity: 0;
    transform: translateX(0%);
}

.slide-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 200ms ease-out, transform 200ms ease-out;
}
